.pagination {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.pagination-list {
  list-style: none;
  display: flex;
  padding: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.pagination-item.down-arrow {
  padding-top: 11px;
}

.pagination-item {
  margin: 3.5px;
  padding: 5px 10px;
  border: 2px solid #ffffff;
  background-color: #4b4b4b;
  color: #ffffff;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-item:hover {
  background-color: #626262;
}

.pagination-item.active {
  background-color: #ffffff;
  color: #333333;
}

.pagination-item.disabled {
  opacity: 0;
  cursor: default;
}

.pagination-item:first-child {
  margin-left: 0;
}

.pagination-item:last-child {
  margin-right: 0;
}