.pagination-top {
  margin-inline-start: auto;
  border: 3px solid #f83123c4;
  background-color: #f8d2d25c;
  border-radius: 15px;
  margin-top: 0;
  padding: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.pagination.button-space {
  padding: 0;
  margin: 0;
}

.pagination-item.page-end {
  cursor: not-allowed;
  opacity: 0.25;;
}