.pagination {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.pagination-list {
  list-style: none;
  display: flex;
  padding: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.pagination-item.down-arrow {
  padding-top: 11px;
}

.pagination-item {
  color: #fff;
  cursor: pointer;
  background-color: #4b4b4b;
  border: 2px solid #fff;
  border-radius: 6px;
  margin: 3.5px;
  padding: 10px;
  transition: background-color .3s;
  display: flex;
  align-items: center;
}

.pagination-item:hover {
  background-color: #626262;
}

.pagination-item.active {
  background-color: #ffffff;
  color: #333333;
}

.pagination-item.disabled {
  opacity: 0;
  cursor: default;
}

.pagination-item:first-child {
  margin-left: 0;
}

.pagination-item:last-child {
  margin-right: 0;
}