body {
  margin: 0%;
}

.container {
  color: #fff;
  background-color: #23262df0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0% 20px 20px;
  font-family: Arial, sans-serif;
  display: flex;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.pagination-top {
  margin-inline-start: auto;
  background-color: #1d1e1f7b;
  border: 3px solid #000000a7;
  border-radius: 15px;
  margin-top: 0;
  padding: 0 8px;
}

.pagination.button-space {
  margin: 0;
  padding: 0;
}

.pagination-item.page-end {
  cursor: not-allowed;
  opacity: .25;
  transition-property: none !important;
}

.search-input {
  color: #fff;
  background-color: #333333a4;
  border: double silver;
  border-radius: 4px;
  width: 30%;
  padding: 10px;
}

@media only screen and (width <= 900px) {
  .search-input {
    width: 50%;
  }
}

.pokemon-list {
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
  display: flex;
}

.pokemon-item {
  background-color: #444;
  border-radius: 4px;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin: 10px;
  padding: 10px;
  display: flex;
  box-shadow: 1px 1px 11px 2px #0003;
}

.pokemon-image {
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
}

.pagination {
  justify-content: center;
  margin-top: 5px;
  display: flex;
}

.pagination-list {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 1px;
  list-style: none;
  display: flex;
}

.pagination-item.down-arrow {
  padding-top: 11px;
}

.pagination-item {
  color: #fff;
  cursor: pointer;
  background-color: #4b4b4b;
  border: 2px solid #fff;
  border-radius: 12px;
  margin: 3.5px;
  padding: 5px 10px;
  transition: background-color .3s;
}

.pagination-item:hover {
  background-color: #626262;
}

.pagination-item.active {
  color: #333;
  background-color: #fff;
}

.pagination-item.disabled {
  opacity: 0;
  cursor: default;
}

.pagination-item:first-child {
  margin-left: 0;
}

.pagination-item:last-child {
  margin-right: 0;
}

.footer {
  color: #fff;
  background-color: #1a1b1f;
  margin-top: 5px;
  padding: 8px;
  font-family: Arial, sans-serif;
  box-shadow: 0 -6px 9px 6px #04030ee0;
}

.logo-container {
  align-items: center;
  width: 3%;
  height: auto;
  display: flex;
}

.logo {
  width: 100%;
  height: auto;
}

@media screen and (width <= 1250px) and (width >= 900px) {
  .logo-container {
    width: 4%;
  }
}

@media screen and (width <= 900px) and (width >= 650px) {
  .logo-container {
    width: 5%;
  }
}

@media screen and (width <= 650px) and (width >= 350px) {
  .logo-container {
    width: 6.5%;
  }
}

@media screen and (width <= 550px) and (width >= 450px) {
  .logo-container {
    width: 8%;
  }
}

@media screen and (width <= 450px) and (width >= 350px) {
  .logo-container {
    width: 9.5%;
  }
}

.site-title {
  width: 25%;
}

.title-text {
  text-align: left;
  padding-left: 5px;
  font-size: larger;
  font-weight: 700;
}

.sticky {
  background-color: #0003;
  border-radius: 50rem;
  justify-content: center;
  width: 50%;
  padding: 0%;
  display: flex;
  position: fixed;
}

.sticky + .content {
  padding-top: 60px;
}

.header {
  color: #fff;
  background-color: #1a1b1f;
  align-items: center;
  margin-bottom: 5px;
  padding: 8px;
  font-family: Arial, sans-serif;
  display: flex;
  box-shadow: 0 5px 9px 6px #04030ee0;
}

.navdiv {
  justify-content: center;
  width: 65%;
  display: flex;
}

.navbar {
  justify-content: center;
  display: flex;
}

.nav-list {
  padding: 0;
  list-style: none;
  display: flex;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #fff;
  border-radius: 4px;
  padding: 5px;
  text-decoration: none;
}

/*# sourceMappingURL=index.9e4c6fd2.css.map */
