$white: #fff;
$font-color: #8000ff;

.poke-img>img{
	height: 250px;
	width:auto;
	margin: -5px;
	padding:10px;
}
.info-div {
	width: 100%;
	height: auto;
	position: relative;
	top: 50px;
	padding-left: 40px;
}
.poke-img {
	width: fit-content;
	margin-inline: 20px;
	border-radius: 2rem;
	box-shadow: 1px 1px 11px 2px rgba(0, 0, 0, 0.2);
	background: rgb(34, 33, 39);
		background: linear-gradient(170deg, rgb(205, 87, 248) 8%, rgb(133, 110, 133) 80%);
}
.poke-head {
	display: inline-flex;
	width: 100%;
}
.poke-head h1 {
	font-size: 50px;
	text-transform: capitalize;
	margin-left: 5%;
}
.info-container {
	display: flex;
	justify-content: flex-start;
	position: absolute;
	top: 15%;
}
.name-fav-container {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	color: $font-color;

	h1 {
		margin-bottom: 15px;
		margin-left:0;
	}

	.fav-button {
			background-color: rgba(160, 173, 189, 0.785);
			width: fit-content;
			border-radius: 0.8rem;
			border: 0.5px solid black;
			padding: 10px;
			font-weight: 700;
			color: white;
			&.danger {
				background-color: rgba(158, 54, 54, 0.863);
			}
		}
}



@media screen and (max-width:600px) {
	.poke-img>img {
		height: 300px;
		width: auto;
	}
	.poke-head h1{
		font-size: 35px;
	}
	.poke-head {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.info-container{
		left: 0;
		position: absolute;
		right: 0;
		margin: 0 auto;
	}
	.info-div {
		padding-left: 0 !important;
	}
}
@media screen and (max-width:400px) {
	.poke-img>img {
		height: 250px;
		width: auto;
	}
	.poke-img{
		border-radius: 1rem;
	}
	.poke-head h1 {
		font-size: 30px;
	}
}