.poke-img>img{
	height: 250px;
	width:auto;
	margin: -5px;
	padding:10px;
}
.info-div {
	width: 90%;
	height: auto;
	position: relative;
	top: 50px;
}
.poke-img {
	width: fit-content;
	margin-inline: 20px;
	border-radius: 2rem;
	box-shadow: 1px 1px 11px 2px rgba(0, 0, 0, 0.2);
	background: rgb(34, 33, 39);
		background: linear-gradient(161deg, rgba(34, 33, 39, 1) 28%, rgba(110, 110, 118, 1) 100%, rgba(212, 216, 217, 1) 100%);
}
.poke-head {
	display: inline-flex;
	width: 100%;
}
.poke-head h1 {
	font-size: 50px;
	text-transform: capitalize;
	margin-left: 5%;
}
.info-container {
	justify-content: flex-start;
}
.name-fav-container {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;

	h1 {
		margin-bottom: 15px;
		margin-left:0;
	}

	.fav-button {
			background-color: rgba(160, 173, 189, 0.785);
			width: fit-content;
			border-radius: 0.8rem;
			border: 0.5px solid black;
			padding: 10px;
			font-weight: 700;
			color: white;
		}
}



@media screen and (max-width:600px) {
	.poke-img>img {
		height: 300px;
		width: auto;
	}
	.poke-head h1{
		font-size: 35px;
	}
	.poke-head {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
@media screen and (max-width:400px) {
	.poke-img>img {
		height: 250px;
		width: auto;
	}
	.poke-img{
		border-radius: 1rem;
	}
	.poke-head h1 {
		font-size: 30px;
	}
}