
.nav-link:hover {
  background-color: #353d3a;
  color: white;
  padding: 6px 12px;
}
.active {
  background-color: #04AA6D;
  padding: 6px 8px !important;
}

.sticky .active {
  background-color: #04AA6D;
  border-radius: 50rem;
  padding: 9px 15px ;
}
.sticky .nav-link:hover {
  background-color: #353d3a;
  border-radius: 50rem;
  padding: 9px 15px ;
}

.logo-container {
  width:3%;
  height: auto;
  display: flex;
  align-items: center;
}
.logo {
  width: 100%;
  height: auto;
}

.site-title {
  width: 25%;
  padding-right: 7px;
}

.title-text {
  font-size: larger;
  font-weight: 700;
  text-align: left;
  padding-left: 5px;
}

.search-container {
  width: 60%;
}

.sticky {
  position: fixed;
  border-radius: 50rem;
  display: flex;
  justify-content: center;
  padding: 0%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  left:25%;
  top: 15px;
}

.navcontainer {
  text-align: center;
}

.header {
  background-color: #1a1b1f;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 8px;
  margin-bottom: 5px;
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  box-shadow: 0px 5px 9px 6px #04030ee0;
}

.navdiv {
  display: flex;
  justify-content: right;
  width:75%;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-item {
  text-align: center;
  padding-inline: 5px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
  border-radius: 4px;
  white-space: nowrap;
}

.signin {
  border-color: rgb(21, 206, 145);
  border: 2px solid;
  background-color: #353d3a;
  &:hover {
    background-color: #04AA6D;
  }
  &.active {
    background-color: #04AA6D;
  }
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #757474;
  margin: 6px 0;
  transition: 0.4s;
}
.open .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.menu-toggle {
  display: none;
}

@media screen and (max-width: 1250px) and (min-width: 900px) {
  .logo-container {
    width: 5%;
  }

  .site-title {
    width: 25% !important;
  }
}

@media screen and (max-width: 900px) and (min-width: 650px) {
  .logo-container {
    width: 8% !important;
  }
  .navdiv{
    width: 40%;
  }
  .site-title {
    width: 45% !important;
  }
  .search-container {
    width: 100% !important;
  }
}

@media screen and (max-width: 650px) and (min-width: 350px) {
  .logo-container {
    width: 8% !important;
  }
  .site-title{
    width: 35%;
  }
  .sticky {
    width: 55%;
    left: 20%;
  }
  .search-container {
    width: 60%;
  }
  .navdiv {
    width: 40%;
  }
  }

@media screen and (max-width: 550px) and (min-width: 450px) {
  .logo-container {
    width: 13% !important;
  }
}

@media screen and (max-width: 450px) and (min-width: 200px) {
  .logo-container {
    width: 20% !important;
  }
  .logo-container .img {
    max-width: 100%;
    max-height: 100%;
  }
  .nav-list {
    display: none;
  }
}
@media screen and (max-width:750px) and (min-width:250px) {
  .container {
    justify-content: flex-start;
  }
  .navcontainer.mobile-menu-open .nav-list{
    display: block;
  }
  .nav-link:hover{
    background-color: #04AA6D;
  }
  .nav-list {
    display: none;
    position: absolute;
    padding-top: 15px;
    top: 65px;
    right: 5%;
    width: 90%;
    height: 50%;
    background-color: #353d3a;
    z-index: 1;
    border: 2px solid aquamarine;
    border-radius: 2rem;
  }
  .nav-item {
    padding-top: 15px;
  }
  .menu-toggle {
    display: inline-block;
    cursor: pointer;
  }
  .sticky{
    display: none;
  }
  .nav-item {

    margin-top: 10px;
  }

  .search-container {
    width: 90%;
  }

  .navdiv {
    width: 15%;
  }
}